body {
	background-color: #000000;
	color: #FFFFFF;
	margin: 10px;
	padding: 22.5px;
	font-family: sans-serif, system-ui;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: 18px;
	font-size-adjust: 0.5;
}

form {
	padding: 10px 20px;
}

ul li::marker {
	position: sticky;
	color: #000000;
}

ul a, .back-to-top {
	display: inline-block;
	padding: 10px 20px;
	background-color: #FFFFFF;
	color: black;
	text-decoration: none;
	border-radius: 5px;
}

h1, h2, h3, h4, p {
	color: #FFFFFF;
}

footer {
	margin-top: auto;
}

a:hover {
	color: #D3D3D3;
	text-decoration: underline;
}

.back-to-top {
	text-align: center:
	margin-top: 10px;
}

.back-to-top:hover {
	color: #D3D3D3;
	text-decoration: underline;
}

@media  (max-width: 600px) {
	body {
		padding: 10px
	}
	nav ul {
		display: block;
		text-align: center;
	}
	nav ul li {
	    margin-bottom: 10px;
	}
