body {
	background-color: #000000;
	color: #FFFFFF;
	margin: 10px;
	padding: 22.5px;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: 18px;
	font-size-adjust: 0.5;
}

ul li::marker {
	color: #000000;
}

h1, h2, h3, h4, p {
	color: #FFFFFF;
}

footer {
	margin-top: auto;
}
