body {
	background-color: #000000;
	color: #FFFFFF;
	margin: 10px;
	padding: 22.5px;
	font-family: sans-serif, system-ui;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: 18px;
	font-size-adjust: 0.5;
}

form {
	padding: 10px 20px;
}

ul li::marker {
	position: sticky;
	color: #000000;
}

ul a, .back-to-top {
	display: inline-block;
	padding: 10px 20px;
	background-color: #FFFFFF;
	color: black;
	text-decoration: none;
	border-radius: 5px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4, p {
	color: #FFFFFF;
}

footer {
	margin-top: auto;
}

a:hover {
	color: #D3D3D3;
	text-decoration: underline;
}

.back-to-top {
	text-align: center;
	margin-top: 10px;
}

.back-to-top:hover {
	color: #D3D3D3;
	text-decoration: underline;
}

form {
	align-content: normal;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #1b1b1b;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	line-height: 30px;
}

form label {
	display: block;
	margin-bottom: 8px;
	color: #fff;
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-shadow: 1px 2px 2px black;
}

form input [type="text"],
form input [type="email"],
form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-sizing: border-box;
	filter: drop-shadow(4px 4px rgba(0, 0, 0, 0.1));
}

form input [type="text"]:focus,
form input [type="email"]:focus,
form textarea:focus {
	outline: none;
	border-color: white;
}

form textarea {
	height: 150px;
	resize: vertical;
}

form button[type="submit"] {
	display: inline-block;
	background-color: white;
	color: #000000;
	border: none;
	padding: 10px 20px;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.3s;
	filter: drop-shadow(4px 4px rgba(0, 0, 0, 0.1));
}

form button[type="submit"]:hover {
	background-color: #d3d3d3;
}

#nav-menu {
	display: none;
	background-color: white;
	position: absolute;
	top: 50px;
	left: 0;
	width: 200px;
	padding: 10px;
	border-radius: 5px;
}

#nav menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav menu li {
	padding: 10px;
}

#nav menu a {
	color: white;
	text-decoration: none;
	display: block;
}

#menu-toggle {
	background: #FFFFFF;
	color: black;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
}

#menu-toggle:hover {
	background: #D3D3D3;
}

.loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.loader {
	border: 8px solid #f3f3f3;
	border-top: 8px solid #3498db;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@media  (max-width: 600px) {
	body {
		padding: 10px
	}
	nav ul {
		display: block;
		text-align: center;
	}
	nav ul li {
	    margin-bottom: 10px;
	}
}